body{

    background-color: oldlace;
}

header{

    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(64, 14, 14);
}

header h1{

    color: beige;
}

header p{

    color: blanchedalmond;
    text-shadow: 50%;

}

.main-img{

    width: 240px;
    height: 255px;
    border-radius: 50%;
    box-shadow: black;
    float: left;
    position: relative;
    

}

.main-container{

    display: flex;
    float: left;
    align-items: center;
    padding-left: 70px;
    padding-bottom: 70px;
}

article p{

    padding: 60px;
    
}

form {

    padding: 60px;
    display: block;
    align-items: center;
    position: absolute;
    float: left;
}

table th, td {

    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
}

th, td {

    background-color: bisque;
}

.form-container{

    display: flexbox;
    position: relative;
    align-items: right;
    background-color: burlywood;
    padding: 20px;
}

section table{

   padding: 20px;
   display: block;
   
}

div.mycontainer {
    width:100%;
    overflow:auto;
}

div.mycontainer div {
    width:33%;  
    float:left;
  }


footer{

    align-items: center;
    display: block;
    
}
